
/* 字体颜色 */
.color-white {
  color: #FFF;
}

/* 外边距 */
.m-r-5px {
  margin-right: 5px;
}

/* 动画相关样式 */


/* 画布网格 */

.canvas-grid-white-5px5px {
  background:
      linear-gradient(-90deg, rgba(255,255,255,0.2) 1px, transparent 1px) 0% 0% / 5px 5px,
      linear-gradient(rgba(255,255,255,0.2) 1px, transparent 1px) 0% 0% / 5px 5px;
}

.canvas-grid-black-5px5px {
  background:
      linear-gradient(-90deg, rgba(0,0,0,0.2) 1px, transparent 1px) 0% 0% / 5px 5px,
      linear-gradient(rgba(0,0,0,0.2) 1px, transparent 1px) 0% 0% / 5px 5px;
}

.canvas-grid-white-10px10px {
  background:
      linear-gradient(-90deg, rgba(255,255,255,0.2) 1px, transparent 1px) 0% 0% / 10px 10px,
      linear-gradient(rgba(255,255,255,0.2) 1px, transparent 1px) 0% 0% / 10px 10px;
}

.canvas-grid-black-10px10px {
  background:
      linear-gradient(-90deg, rgba(0,0,0,0.2) 1px, transparent 1px) 0% 0% / 10px 10px,
      linear-gradient(rgba(0,0,0,0.2) 1px, transparent 1px) 0% 0% / 10px 10px;
}

.canvas-grid-white-20px20px {
  background:
      linear-gradient(-90deg, rgba(255,255,255,0.2) 1px, transparent 1px) 0% 0% / 20px 20px,
      linear-gradient(rgba(255,255,255,0.2) 1px, transparent 1px) 0% 0% / 20px 20px;
}

.canvas-grid-black-20px20px {
  background:
      linear-gradient(-90deg, rgba(0,0,0,0.2) 1px, transparent 1px) 0% 0% / 20px 20px,
      linear-gradient(rgba(0,0,0,0.2) 1px, transparent 1px) 0% 0% / 20px 20px;
}
